{% extends "layout.html" %}
{% block body %}


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Hups, sivua ei löydy</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Jotain meni pieleen ja etsimääsi sivua tai tuloksia ei löydy. Se ei mahdollisesti ole sinun syytäsi. Tai jopa todennäköisesti se ei ole syytäsi, kun tämä sivusto on toisaalta purkkaviritelmä.</p>
    </div>
</div>

<div class="container">
  <p> Ehkä yritit suoraan ladata sivua jollain tekstijonolla ja sen takia meni pieleen? Jaa-a, mutta yritä uudelleen ja pidä sormet ristissä, että toimii tällä kertaa ;)</p>
</div>
{% endblock %}
