{% extends "layout.html" %}
{% block body %}


<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

<div class="container">

  <div class="py-5 hstack gap-3">
    <div>
      <h2 class="border-bottom">Sähkönkäyttösi {{outcome.begin}}-{{outcome.end}}<h2>
    </div>
    <div class="ms-auto mt-auto border-bottom"><button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelection" aria-expanded="false" aria-controls="collapseExample">
    Muuta ajanjaksoa
    </button></div>
  </div>
    

  <div class="collapse col-md-7 col-lg-8" id="collapseSelection">
    <div class="card card-body">
      <h4>Ajanjakso</h4>
      <form class="form-floating" method="get" action="">
	<div class="row g-3">
	  <div class="col-sm-6">
	    <label for="firstDay">Aloitus</label>
	    <input type="text" class="form-control" placeholder="{{outcome.begin}}" value="{{outcome.begin}}" aria-label="Ensimmäinen päivä" id="firstDay" name="first">
	  </div>
	  <div class="col-sm-6">
	    <label for="lastDay">Lopetus</label>
	    <input type="text" class="form-control" placeholder="{{outcome.end}}" value="{{outcome.end}}" aria-label="Last name" id="lastDay" name="last">
	  </div>

	  <div class="col-sm-6">	    
	    <label for="marginal">Pörssisähkön marginaali</label>
	    <div class="input-group">
	    <input type="text" class="form-control text-end" placeholder="0,42" id="marginal" name="margin">
	    <span class="input-group-text">snt/kWh</span>
	    </div>
	  </div>
	  <div class="col-sm-4 mt-auto">
	    <button type="submit" class="w-100 btn btn-primary btn-large">Vaihda</button>
	  </div>
	    
	</div>
      </form>
    </div>
  </div>
</div>


</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>{{outcome.tot_power_s}} kWh</h3>
      <p>Ajanjaksolla käytetty sähkö</p> 
    </div>
    <div class="col">
      <h3>{{outcome.tot_price_s}} €</h3>
      <p>Kulutuksesi hinta pörssisähköllä (käytetty {{marginal_s}} snt/kWh marginaalia)</p>
    </div>
    <div class="col">
      <h3> {{outcome.const_price_s}} snt/kWh</h3>
      <p> Keskimääräinen sähkön hinta omalla kulutuksella koko jaksolta</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="mb-4" id="weeklyPrice"></div>
</div>


<div class="container">
  <h3 class="pb-3 text-center">Pörssisähkön hintatiedot</h3>

  <div class="row">
    <div class="col mb-5">
      <div id="spotProfile"></div>
      <p>Desiilit ilmoittavat kuinka moni jakauman arvoista on pienempi kuin annettu desiiili. Esim. 90 % desiilin alla on 90 % jakauman arvoista</p>
    </div>
    
    <div class="col mb-5">
      <div id="costs_vs_spot"></div>
      <p class="text-left"> Pörssisähkö on öisin halvempaa kuin päivällä. Kun oma sähkökulutus painottuu myös päiväsaikaan, on oman kulutuksen hinta suurempi kuin pörssisähkön keskimääräinen hinta. Kuvassa positiivinen arvo kertoo paljonko keskimääräinen sähkönhinta on ollut suurempi kuin keskimääräinen pörssisähkön hinta sähköä</p>
    </div>
  </div>
</div>


<div class="container">
  <h3 class="pb-3 text-center">Oman kulutuksen tiedot</h3>

  <div class="row">
    <div class="col mb-5">
      <div id="usageHisto"></div>
      <p>Päiväkohtainen kulutus vaihtelee. Yläpuolella näkyy kuinka usein on tullut erilaisia sähkömääriä kulutettua.</p>
    </div>
    
    <div class="col mb-5">
      <div id="profile"></div>
      <p class="text-left"> Desiilit ilmoittavat kuinka moni jakauman arvoista on pienempi kuin annettu desiiili. Esim. 90 % desiilin alla on 90 % jakauman arvoista</p>
    </div>
  </div>
</div>



<script>

  var wlayout = {
      title: 'Pörssisähkön keskimääräinen hinta omalla kulutuksella ',
      font: {size: '14'},
      xaxis: {
	  title: 'Ajankohta',
	  autorange: true,
	  rangeslider: {range: ['{{outcome.first}}', '{{outcome.last}}']},
	  type: 'date'
      },
      yaxis: {title: 'Sähkön hinta [snt/kWh]'},
      height: 700,
  };

  var dtrace = {
      y: {{outcome.dayPrice}},
      x: {{outcome.dayX|safe}},
      mode: 'lines',
      name: 'Päiväkohtainen',
  };

  var wtrace = {
      y: {{outcome.weekPrice}},
      x: {{outcome.weekX|safe}},
      line: {shape: 'hv'},
      mode: 'lines',
      type: 'scatter',
      name: 'Viikkokohtainen',
  };


  var mtrace = {
      y: {{outcome.monthPrice}},
      x: {{outcome.monthX|safe}},
      line: {shape: 'hv'},
      mode: 'lines',
      type: 'scatter',
      name: 'Kuukausikohtainen',
  };


  var wdata = [wtrace, dtrace, mtrace];


  Plotly.newPlot('weeklyPrice', wdata, wlayout)


  var wee_spottrace = {
      y: {{spot.diff_spotW}},
      x: {{outcome.weekX|safe}},
      line: {shape: 'hv'},
      mode: 'lines',
      type: 'scatter',
      name: 'Viikkokohtainen',
  };



  var spot_layout = {
      title: 'Hintaero omalla kulutuksella ja pörssisähköllä viikkotasolla',
      xaxis: {
	  title: 'Ajankohta',
	  autorange: true,
	  rangeslider: {range: ['{{outcome.first}}', '{{outcome.last}}']},
	  type: 'date'
      },
      yaxis: {title: 'Hintaero (snt/kWh)'},
  };


  var spot_data = [wee_spottrace];


  Plotly.newPlot('costs_vs_spot', spot_data, spot_layout)

  

  var histdata = [{
      type: 'bar',
      x: {{outcome.Dvalues|safe}},
      y: {{outcome.Dlabels|safe}},
      orientation: 'h'     
  }];

  var histlayout =  {
      title: 'Päiväkohtainen kulutus',
      font: {size: '14'},
      xaxis: {title: 'Päivien lukumäärä'},
      yaxis: {title: 'Kulutus välillä (kWh)'},
      height: 500,
  };

  Plotly.newPlot('usageHisto', histdata, histlayout);

  var pro_mtrace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileMean|safe}},
      mode: 'lines',
      name: 'Keskimääräinen',
  };

  var pro_q1trace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileq1|safe}},
      mode: 'lines',
      name: '10 % desiili'
  };

  var pro_q3trace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileq3|safe}},
      mode: 'lines',
      name: '90 % desiili'
  };

  var pro_data = [pro_q3trace, pro_mtrace, pro_q1trace];

  
  var pro_layout = {
      title: 'Keskimääräinen tuntikulutus',
      font: {size: '14'},
      xaxis: {title: 'Alkava tasatunti',
	      dtick: 2},
      yaxis: {title: 'Kulutus (kWh)'},
      height: 500,
  };

      
  Plotly.newPlot('profile', pro_data, pro_layout)

    var spotpro_mtrace = {
      x: {{spot.profilex|safe}},
      y: {{spot.profileMean|safe}},
      mode: 'lines',
      name: 'Keskimääräinen',
  };

  var spotpro_q1trace = {
      x: {{spot.profilex|safe}},
      y: {{spot.profileq1|safe}},
      mode: 'lines',
      name: '10 % desiili'
  };

  var spotpro_q3trace = {
      x: {{spot.profilex|safe}},
      y: {{spot.profileq3|safe}},
      mode: 'lines',
      name: '90 % desiili'
  };

  var spotpro_data = [spotpro_q3trace, spotpro_mtrace, spotpro_q1trace];

  
  var spotpro_layout = {
      title: 'Keskimääräinen pörssisähkön tuntihinta',
      font: {size: '14'},
      xaxis: {title: 'Alkava tasatunti',
	      dtick: 2},
      yaxis: {title: 'Hinta (snt/kWh)'},
      height: 500,
  };


  Plotly.newPlot('spotProfile', spotpro_data, spotpro_layout)

</script>
{% endblock %}
