{% extends "layout.html" %}
{% block body %}


<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

<div class="container">
  <h2 class="pb-3 mt-5 border-bottom">Sähkönkäyttösi {{outcome.begin}}-{{outcome.end}}</h1>

</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>{{outcome.tot_power}} kWh</h3>
      <p>Ajanjaksolla käytetty sähkö</p> 
    </div>
    <div class="col">
      <h3>{{outcome.tot_price_s}} €</h3>
      <p>Kulutuksesi hinta pörssisähköllä</p>
    </div>
    <div class="col">
      <h3> {{outcome.const_price_s}} snt/kWh</h3>
      <p> Keskimääräinen sähkön hinta koko jaksolta</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="mb-4" id="weeklyPrice"></div>
</div>


{#
<div class="container">
  <h3 class="pb-3">Rajaa tarkastelujakso</h3>


  <div class="mb-3">
    <div class="row">
      <div class="col">
	<input type="text" class="form-control" placeholder="{{outcome.begin}}" aria-label="Ensimmäinen päivä">
      </div>
      <div class="col">
	<input type="text" class="form-control" placeholder="{{outcome.end}}" aria-label="Last name">
      </div>
    </div>
    
    <div class="input-group mb-3">
      <input type="text" class="form-control text-end" placeholder="0,42" id="marginal">
      <span class="input-group-text">snt/kWh</span>
    </div>

  </div>

</div>
#}


<div class="container">
  <h3 class="pb-3 text-center">Kulutusprofiilit</h3>

  <div class="row">
    <div class="col mb-5">
      <div id="usageHisto"></div>
      <p>Päiväkohtainen kulutus vaihtelee. Yläpuolella näkyy kuinka usein on tullut erilaisia sähkömääriä kulutettua.</p>
    </div>
    
    <div class="col mb-5">
      <div id="profile"></div>
      <p class="text-left"> Desiilit ilmoittavat kuinka moni jakauman arvoista on pienempi kuin annettu desiiili. Esim. 90 % desiilin alla on 90 % jakauman arvoista</p>
    </div>
  </div>
</div>

<script>

  var wlayout = {
      title: 'Pörssisähkön keskimääräinen hinta omalla kulutuksella ',
      font: {size: '14'},
      xaxis: {
	  title: 'Ajankohta',
	  autorange: true,
	  rangeslider: {range: ['{{outcome.first}}', '{{outcome.last}}']},
	  type: 'date'
      },
      yaxis: {title: 'Sähkön hinta [snt/kWh]'},
      height: 700,
  };

  var dtrace = {
      y: {{outcome.dayPrice}},
      x: {{outcome.dayX|safe}},
      mode: 'lines',
      name: 'Päiväkohtainen',
  };

  var wtrace = {
      y: {{outcome.weekPrice}},
      x: {{outcome.weekX|safe}},
      line: {shape: 'hv'},
      mode: 'lines',
      type: 'scatter',
      name: 'Viikkokohtainen',
  };


  var mtrace = {
      y: {{outcome.monthPrice}},
      x: {{outcome.monthX|safe}},
      line: {shape: 'hv'},
      mode: 'lines',
      type: 'scatter',
      name: 'Kuukausikohtainen',
  };


  var wdata = [wtrace, dtrace, mtrace];


  Plotly.newPlot('weeklyPrice', wdata, wlayout)


  var histdata = [{
      type: 'bar',
      x: {{outcome.Dvalues|safe}},
      y: {{outcome.Dlabels|safe}},
      orientation: 'h'     
  }];

  var histlayout =  {
      title: 'Päiväkohtainen kulutus',
      font: {size: '14'},
      xaxis: {title: 'Päivien lukumäärä'},
      yaxis: {title: 'Kulutus välillä (kWh)'},
      height: 500,
  };

  Plotly.newPlot('usageHisto', histdata, histlayout);

  var pro_mtrace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileMean|safe}},
      mode: 'lines',
      name: 'Keskimääräinen',
  };

  var pro_q1trace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileq1|safe}},
      mode: 'lines',
      name: '10 % desiili'
  };

  var pro_q3trace = {
      x: {{outcome.profilex|safe}},
      y: {{outcome.profileq3|safe}},
      mode: 'lines',
      name: '90 % desiili'
  };

  var pro_data = [pro_q3trace, pro_mtrace, pro_q1trace];

  
  var pro_layout = {
      title: 'Keskimääräinen tuntikulutus',
      font: {size: '14'},
      xaxis: {title: 'Alkava tasatunti',
	      dtick: 2},
      yaxis: {title: 'Kulutus (kWh)'},
      height: 500,
  };

      
  Plotly.newPlot('profile', pro_data, pro_layout)


</script>
{% endblock %}
